<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WEBBOOK</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="./">HOME</a></li>
            <li><a href="./books.ejs">BOOKS</a></li>
            <li class="active"><a href="./authors.ejs">AUTHORS</a></li>
          </ul>
        </div>
      </nav>
      <main>
          <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <% for (let i = 0; i < authordata.length; i += 1) { %>
                        <tr>
                            <td>
                                <%= i+1 %> 
                            </td>
                            <td>
                                <a href="/author/<%= authordata[i].id %>"><%= authordata[i].name %></a>
                            </td>
                        </tr>
                        <%  } %>
                    </tbody>
                </table>
            </div>
            </div>
      </main>
</body>
</html>