<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WEBBOOK</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">HOME</a></li>
            <li><a href="./books.ejs">BOOKS</a></li>
            <li><a href="./authors.ejs">AUTHORS</a></li>
            <li></li>
            <li></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="margin-top:0%;">
              <li><a href="/register">SIGNUP</a></li>
              <li><a href="/login">LOGIN</a></li>
            </ul>
        </div>
      </nav>
<main>    
  <img src="images/book-background2.png" style="width: 100%; height: 450px;">
      <div class="container">
        <p>In this website you can find lot of books and its details.
        click the book tab in the navigation bar for the books page
        or you can click <a href="./books.ejs">here</a> to get your favourite book.</p>
        <p>You can also find lot of authors and there details.
        click the author tab in the navigation bar for the author page
        or you can click <a href="./authors.ejs">here</a> to get details of your favourite author.</p>
      </div>
</main>
</body>
</html>