<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body class="container">
<main>    
<center><h1>WEBBOOK</h1></center>
  <img src="images/book-background2.png" style="width: 100%; height: 450px;">
    <center><a href="/register"><button type="button" class="btn">SIGNUP</button></a>
    <a href="/login"><button type="button" class="btn">LOGIN</button></a></center>
</main>
</body>
</html>